/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar img {
    width: 40px;
}

.navbar a h3 {
    color: white;
}

.navbar .left,
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .right * {
    margin: 0 10px;
}

.navbar .left img {
    margin-right: 10px;
}
.navbar input{
    padding: 5px;
    border-radius: 10px;
}

/* Header functions styles */
.headerfunctions i {
    margin-right: 10px;
    cursor: pointer;
}

/* Main container styles */
.container .main {
    display: flex;
    flex-direction: column;
}

/* Create post styles */
.create {
    display: flex;
    align-items: center;
    margin-bottom: 20px 0;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.create img {
    margin-right: 10px;
}

.create input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Filters styles */
.filters {
    display: flex;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
}

.filter {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.filter h4 {
    margin: 10px 0;
}

/* Posts styles */
.posts {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* Source styles */
.source {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.source img {
    margin-right: 10px;
    border-radius: 50%;
}

.userpost {
    font-weight: bold;
    margin-right: 10px;
}

.timeposted {
    color: #888;
}

/* Title styles */
.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Content styles */
.content {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Feathers styles */
.feathers {
    display: flex;
    justify-content: space-between;
}

/* Comments, Share, Save styles */
.comments,
.share,
.save {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comments i,
.share i,
.save i {
    margin-right: 5px;
}

/* Slider styles */
.slider {
    background-color: #fff;
    padding: 20px;
    margin: 0 10px;
    height: fit-content;
}

.slider input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slider h6 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Community styles */
.community {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.container img {
    width: 30px;
}
