/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;


}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: block;

}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}


/* Header functions styles */
.headerfunctions i {
    margin-right: 10px;
    cursor: pointer;
}

.headerfunctions {
    display: flex;
}

/* Main container styles */
.main {
    width: 70%;
    margin-top: 10px;
}


/* Slider styles */
.slider {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0 0 20px;
    height: fit-content;
    width: 30%;
    border-radius: 5px;
}


.slider h6 {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Community styles */
.community {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.container img {
    width: 30px;
}