/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;


}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: block;

}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}




/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar img {
    width: 40px;
}

.navbar a h3 {
    color: white;
}

.navbar .left,
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .right * {
    margin: 0 10px;
}

.navbar .left img {
    margin-right: 10px;
}

.profileImage {
    border-radius: 50%;
}

.navbar input {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: fit-content;
    margin: 0;
}

/* Header functions styles */
.headerfunctions i {
    margin-right: 10px;
    cursor: pointer;
}

.headerfunctions {
    display: flex;
}

/* Main container styles */
.container .main {
    display: flex;
    width: 70%;
    flex-direction: column;
    position: relative;
}

/* Create post styles */
.create {
    display: flex;
    align-items: center;
    margin-bottom: 20px 0;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.formNewPost {
    margin: 0;
    max-width: none;
    height: fit-content;
    position: relative;
    padding: 30px 20px;
}

.formNewPost button {
    padding: 5px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    border: none;
}




.create img {
    margin-right: 10px;
}

.create input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
}

.removeAddPost {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.3em;
    cursor: pointer;

}

/* Filters styles */
.filters {
    display: flex;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
}

.filter {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.filter h4 {
    margin: 10px 0;
}

/* Posts styles */
.posts {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* Source styles */
.source {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.source img {
    margin-right: 10px;
    border-radius: 50%;
}

.userpost {
    font-weight: bold;
    margin-right: 10px;
}

.timeposted {
    color: #888;
}

/* Title styles */
.title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Content styles */
.content {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Feathers styles */
.feathers {
    display: flex;
    justify-content: space-between;
}

/* Comments, Share, Save styles */
.comments,
.share,
.save {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comments i,
.share i,
.save i {
    margin-right: 5px;
}

.commentsPost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    max-height: 500px;
    overflow: auto;
}


.commentsPost .post {
    scroll-behavior: smooth;
    margin: 0;
}

.commentsPost .comments {
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    display: block;
    cursor: auto;
}

.commentsPost .comments form {
    max-width: none;
    margin-bottom: 30px;
    
}

/* Track */
::-webkit-scrollbar {
    width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Slider styles */
.slider {
    background-color: #fff;
    padding: 20px;
    margin: 0 10px;
    height: fit-content;
    width: 30%;
}

.slider input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slider h6 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Community styles */
.community {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.container img {
    width: 30px;
}