doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Manga Haven | Your Mangaverse
        link(rel="stylesheet" href="/styles/home.css")
        link(rel="icon" href="/pics/logo.png" type="image/icon type")
        script(src="https://kit.fontawesome.com/1c7ee0dc81.js" crossorigin="anonymous")
    body
        .navbar
            .left
                img(src="/pics/logo.png" alt="MangaBlend" width="50px")
                i(class="fas fa-house fa-2x")
            input(type="text" name="search" placeholder="Search Something")
            .headerfunctions
                i(class="fas fa-bell fa-2x")
                i(class="fas fa-envelope fa-2x")
            .right
                img(src="/pics/profile.png" class="profileImage" alt="profile picture" width="50px")
        .container
            .main
                .slider
                    input(type="text" name="community_filter" placeholder="Filter")
                    h6 Your Communities
                    ul
                        each community in ["Martial Peak", "Nano Machine", "One Piece", "Attack On Titan", "Dragon Ball"]
                            .community= community
                .create
                    img(src="/pics/profile.png" alt="profile picture")
                    input(type="text" name="new_post" placeholder="Create Post")
                .filters
                    .filter
                        i(class="fa-solid fa-rocket fa-2xl")
                        h4 Best
                    .filter
                        i(class="fa-solid fa-fire fa-2xl")
                        h4 Hot
                    .filter
                        i(class="fa-solid fa-sun fa-2xl")
                        h4 New
                .posts
                    each post in [1, 2, 3]
                        .post
                            .source
                                img(src="/pics/profile.png" alt="profile picture")
                                .userpost Brahim
                                .timeposted 22 hours ago
                            .title This is why Martial arts is the best Manga of all time
                            .content
                                | 1: Character Development: Many martial arts manga delve deep into the characters' backgrounds, motivations, and personal growth. Readers often connect with the characters on an emotional level as they overcome challenges and evolve.
                                | 2: Philosophical Elements: Martial arts stories often incorporate philosophical elements, such as discipline, honor, and perseverance. The characters may follow a code of conduct or adhere to specific martial arts philosophies, adding depth to the narrative.
                                | 3: Diverse Settings and Styles: Martial arts manga explores a variety of martial arts styles, each with its unique techniques and philosophies. This diversity allows for creative storytelling and introduces readers to different aspects of martial arts culture.
                            .feathers
                                .comments
                                    i(class="fa-solid fa-message fa-2xl")
                                    .comments_number 113 comments
                                .share
                                    i(class="fa-solid fa-share fa-2xl")
                                    .share_label share
                                .save
                                    i(class="fa-solid fa-bookmark fa-2xl") 
                                    .save_label save

