/* Reset some default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: block;
}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar img {
    width: 40px;
}

.navbar a h3 {
    color: white;
}

.navbar .left,
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .right * {
    margin: 0 10px;
}

.navbar .left img {
    margin-right: 10px;
    cursor: pointer;
}

.profileImage {
    border-radius: 50%;
}

.navbar input {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: fit-content;
    margin: 0;
}

/* Header styles */
.header {
    background-color: #e7e3e3;
    padding: 10px;
}

.contentheader {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.contentheader img {
    width: 120px;
    
    border: 2px solid black;
    border-radius: 10px;
}

.communityname {
    text-align: start;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

/* Container styles */
.container {
    width: 80%;
    margin: auto;
    display: flex;
}

/* Backcolor styles */
.backcolor {
    background-color: rgb(55, 203, 230);
    height: 80px;
}

/* About Community styles */
.about_community {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    height: fit-content;
    width: 30%;
}

.about_community .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about_community .about {
    line-height: 1.5;
    color: #555;
    text-align: start;
}

.about_community .creaded {
    display: flex;
    align-items: center;
    color: #777;
    margin-top: 15px;
}

.about_community .creaded i {
    margin-right: 5px;
    color: #ff9900;
}

.about_community hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.about_community .statistics {
    display: flex;
    justify-content: space-between;
}

.about_community .members_number {
    color: #333;
    font-weight: bold;
}


/* Posts styles */
.posts {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.post img {
    width: 30px;
}

/* Source styles */
.source {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.source img {
    margin-right: 10px;
    border-radius: 50%;
}

.userpost {
    font-weight: bold;
    margin-right: 10px;
}

.post .timeposted {
    color: #888;
}

/* Title styles */
.post .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Content styles */
.post .content {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Feathers styles */
.feathers {
    display: flex;
    justify-content: space-between;
}

/* Comments, Share, Save styles */
.post .comments,
.post .share,
.post .save {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post .comments i,
.post .share i,
.post .save i {
    margin-right: 5px;
}


/* /comments and post comments styles */


.commentsPost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    max-height: 500px;
    overflow: auto;
    background-color: white;
    padding: 20px;
}


.commentsPost .post {
    scroll-behavior: smooth;
    margin: 0;
    position: relative;
}

.commentsPost .comments {
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    display: block;
    cursor: auto;
}

.commentsPost .comment {
    margin-bottom: 10px;
}

.commentsPost .comments form {
    max-width: none;
    margin-bottom: 30px;

}

.commentsPost .comments form button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


.exitcommends {
    font-size: 20px;
    position: absolute;
    color: black;

    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar {
    width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}